<h1>Listing sitemarx_models</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th>Saved at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sitemarx_models.each do |sitemarx_model| %>
      <tr>
        <td><%= sitemarx_model.url %></td>
        <td><%= sitemarx_model.name %></td>
        <td><%= sitemarx_model.saved_at %></td>
        <td><%= link_to 'Show', sitemarx_model %></td>
        <td><%= link_to 'Edit', edit_sitemarx_model_path(sitemarx_model) %></td>
        <td><%= link_to 'Destroy', sitemarx_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitemarx model', new_sitemarx_model_path %>
